aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
black==21.7b0
coverage==5.5
coverage-badge==1.0.1
discord==1.7.3
discord.py==1.7.3
dpytest==0.5.3
jishaku==2.3.0
packaging==21.0
py==1.10.0
pytest==6.2.5
pytest-asyncio==0.15.1
pytest-cov==2.12.1
python-dateutil==2.8.2
python-dotenv==0.19.0
psycopg2-binary==2.9.1
better-profanity==0.7.0